# Entorno virtual
venv/
.venv/
.env

# Archivos de Python
*.pyc
__pycache__/

# Base de datos local (¡NO subir datos personales!)
fichajes.db

# Paquetización (PyInstaller)
build/
dist/
*.spec
ControlFichajes/  # Si usas --onedir

# Paquetización (setuptools/stdeb/general)
deb_dist/
*.deb
*.dsc
*.tar.gz
*.orig.tar.gz
*.tar.xz
*.buildinfo
*.changes
*.egg-info/