# Entorno virtual
venv/
.venv/
.env

# Archivos de Python
*.pyc
__pycache__/

# Base de datos local (¡NO subir datos personales!)
fichajes.db

# Paquetización (PyInstaller y Ejecutables)
build/
dist/
*.spec
ControlFichajes/ # Carpeta de salida si usas --onedir
*.exe # El ejecutable final

# Paquetización (setuptools/stdeb/general)
deb_dist/
*.deb
*.dsc
*.tar.gz
*.orig.tar.gz
*.tar.xz
*.buildinfo
*.changes
*.egg-info/
